/*  mudar o tipo de letra de toda a página  */
body {
    font-family: Arial, Helvetica, sans-serif;
}

p,
h3 {
    background-color: aquamarine;
    color: brown;
}



section {
    text-align: center;
}


/* sublinha a verde */
h3 {
    text-decoration: underline green;
}


/* retira o sublinhado dos links */
a {
    text-decoration: none;
}


/* chamar um id */
#unique-p {
    background-color: black;
    color: white;
}

/* chamar uma class  */
.return-group {
    background-color: rosybrown;
}


section h5 {
    color: blueviolet;
}

a[href*="IEFP"] {
    color: #3a8c64;
}

a:hover {
    color: black
}

/* criar uma secção e aplicar a box model */
#world-cup {
    background-color: cadetblue;
    width: 200px;
    height: 150px;
    text-align: left;

    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 20px; */

    padding: 10px 10px 10px 20px;

    /* aplicar o mesmo padding a toda a box 
    padding: 10px; */

    /* margens */
    margin: 5px auto 5px auto;
    border: solid;
    display: inline-block;
}

#modules {
    background-color: rosybrown;
    width: 250px;
    height: 150px;
    text-align: left;

    padding: 10px 10px 10px 20px;



    /* margens */
    /* margin: 15px auto 5px auto; */
    border: solid;
    display: inline-block;
}



#lists{
   text-align: center;
}